<ul class="no-bullets">
    {{#each schedData}}
      <li >User ID: {{this.user_id}}<br>Day: {{this.day}}<br>Start at: {{this.start_at}}<br>End at: {{this.end_at}}</li>
    {{/each}}
</ul>

{{!--
    user_id': 0,
        'day': 1,
        'start_at': "2PM",
        'end_at': "4PM"
--}}