<ul class="no-bullets">
    {{#each usrData}}
      <li>First name: {{this.firstname}}<br>Last name: {{this.lastname}}<br>Email: {{this.email}}<br>Password: {{this.password}}<br><br></li>
    {{/each}}
</ul>