<h2>Add a new user</h2>

<form action="/users/new" method="post">
  <label for="firstname">First Name:</label>
  <input type="text" id="firstname" name="firstname"><br><br>
  <label for="lastname">Last Name:</label>
  <input type="text" id="lastname" name="lastname"><br><br>
  <label for="email">Email:</label>
  <input type="text" id="email" name="email"><br><br>
  <label for="password">Password:</label>
  <input type="text" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>

{{!-- 

{
        'firstname': "James",
        'lastname': "Bond",
        'email': "james.bond@gmail.com",
        'password': "b6b7fb4cad4bc020f76e16889a8e9065cb708d0f8c304a8a3db609b644da9536"  
    },

--}}