body{
    background-color:aqua;
}

li {
    font-size: 0.25 em;
    width: 600px;
    margin: 4px;
    padding: 4px;
    list-style: none
}

ul.no-bullets {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}